<!doctype html>
    <head>
        <title>Circling Snakes</title>
        <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    </head>
    <body>
        Client name: <span id="clientName"></span>
        <div id="connectionStatus" style="font-size: xx-large; color: red;"></div>
        <canvas id="canvasElement" width="640" height="640" oncontextmenu="return false;" style="outline: none; background-color: #999999;"></canvas>
        <script type="text/javascript" src="../view/bundle.js"></script>
    </body>
</html>